<nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #1a1717">
  <button 
  class="navbar-toggler navbar-toggler-right" 
  type="button"
  (click)="isCollapse=!isCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="!isCollapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
    </div>
  </div>
</nav>
